h1 {
    color: darkblue;
    text-align: center;
}
body {
    border-style: dotted;
}

.card{
    width: 500px;
    background-color: aqua;
    text-align: center;
}
#dish-name {
    color: white;
}
div{
    
}